
###> symfony/framework-bundle ###
.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IDE-s ###
# PhpStorm
.idea
# MAC OS
.DS_store
# VSCode
.vscode
###< IDE-s ###